body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  max-width: 390px;
}

#scheme {
  position: relative;
}

#image {
  width: 350px;
  padding: 20px;
}

.box {
  width: 60px;
  height: 25px;
  font-size: 10px;
  background-color: rgba(43, 35, 35, 0.676);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-meter {
  position: absolute;
  top: 110px;
  right: 130px;
}

#second-meter {
  position: absolute;
  bottom: 30px;
  left: 130px;
}